$padding: 10px;

.modal {
    &__header {
        padding-top: $padding;
        padding-bottom: $padding;
        border-bottom: 1px solid #b3b3b3;

        header__title {
            font-size: 16px;
            color: #333333;
            font-weight: bold;
        }
    }

    &__body {
        flex: 1 0 100%;
        padding-top: $padding;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__footer {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: $padding;
        padding-bottom: $padding;
    }
}
