@import 'colors';

body {
    background: $color-primary-light;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

.content {
    text-align: left;
    background-color: $color-primary-white;
    color: $color-primary-text;
    max-width: 768px;
    min-height: 200px;
    border-radius: 6px;
    margin-top: 2px;
    margin-bottom: 25px;
    padding: 15px 40px 40px 40px;
    flex: 0 1 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icon-pre {
    margin-right: 5px;
}

.input-form {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__inputs {
        flex: 1 0 100%;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }

    .input__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px 0px;
    }

    .input__label {
        font-size: 12px;
    }

    .label__icon {
        margin-right: 3px;
    }

    .label__icon--required {
        color: $color-error;
    }

    .input__field--full-width {
        width: 100%;
    }

    .input__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .input__notice {
        font-size: 11px;

        &--error {
            color: $color-error;
        }

        &--warning {
            color: $color-warning;
        }
    }

    .button {
        margin-top: 10px;
    }
}

input {
    border-radius: 4px;
    margin: 3px 0px;
    padding: 6px 6px;
    width: 200px;
}

.button {
    max-width: 200px;
    min-width: 40px;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: $color-primary-light;

    &:not(:last-of-type) {
        margin-right: 5px;
    }

    &--danger {
        background-color: $color-danger;
        color: $color-danger-white;
    }

    &--success {
        background-color: $color-success;
        color: $color-success-white;
    }
}

.alert-box {
    background-color: $color-error;
    color: $color-primary-white;
    border-radius: 5px;
    padding: 15px;
}

.flx {
    display: flex;
    flex: 1 0 100%;
}

.flx--row {
    flex-direction: row;
}

.flx--column {
    flex-direction: column;
}

.flx--space-between {
    justify-content: space-between;
}

.flx--space-evenly {
    justify-content: space-evenly;
}

.flx-align-center {
    align-items: center;
}
