// copy this file into config/local.config.js in order to set local config
config = {
    mysql: {
        host: '',
        user: '',
        password: '',
        database: '',
    },
    secret: 'setAuthSecretHere',
};

module.exports = config;
